<template>
  <div class="wrap">
    <nuxt-link class="back" to="/beers">BACK</nuxt-link>
    <div
    class="one-beer"
    v-for="beerData in beer"
    :key="beerData.id"
    :style="{backgroundImage: 'url(' + beerData.image_url +')'}">
      <div class="container">
        <div class="row">
          <h1 class="title">{{beerData.name}}</h1>
          <h2 class="subtitle">{{beerData.tagline}}</h2>
          <hr>
          <p class="label">Description</p>
          <p>{{beerData.description}}</p>
          <p class="label">Goes well with</p>
          <p>
            <span v-for="pair in beerData.food_pairing" :key="pair" >
            {{pair}}<br>
            </span>
          </p>
          <p class="label">Tips</p>
          <p>{{beerData.brewers_tips}}</p>
        </div>
      </div>
    </div>
    <div v-if="beer.length == 0" class="nada">Nothing here :(</div>
  </div>
</template>
<script>
  import axios from 'axios';

  export default {
    data() {
      return {
      beer: [],
      title: 'Oispa'
      }
    },
    created() {
      axios.get(`https://api.punkapi.com/v2/beers/${this.$route.params.id}`)
      .then((response) => {
        this.beer = response.data;
      })
    },
    head () {
      return {
        title: this.title
      }
    }
  }
</script>

<style scoped>
.label {
  font-weight: bold;
  margin: 0;
}
.nada {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 300;
}
.back {
  position: fixed;
  top: -15vmin;
  right: -15vmin;
  background: white;
  height: 40vmin;
  width: 40vmin;
  border-radius: 10vmin;
  padding:5vmin;
  color:red;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-shadow: 5px 5px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 300;
  font-size: 8vmin;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
.one-beer
{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  /* background-repeat: no-repeat;  */
}
.row {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
    display: flex;
  justify-content: center;
  flex-direction: column;
}

.title
{
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #35495e;
  letter-spacing: 1px;
  padding: 0 15px;
}
.subtitle
{
  font-weight: 300;
  font-size: 20px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.row {
  padding: 20px 0;
}

</style>