  
<template>
<div class="col-lg-4 col-sm-6 portfolio-item">
  <nuxt-link :to="'/beers/' + id">
    <div class="card h-100">
      <div class="thumbnail" :style="{backgroundImage: 'url(' + img +')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{tagline}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{since}}</small>
        <!-- <br>
        <small class="text-muted">{{by}}</small> -->
      </div>
    </div>
  </nuxt-link>
</div>
</template>
  

<script>
  export default {
    props: ['id', 'img', 'name', 'tagline','by', 'since']
  }
</script>
<style scoped>
.portfolio-item {
  text-align: center;
  margin-bottom: 30px;
}
.thumbnail {
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 200px;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
</style>
