<template>
<div class="bg">
  <div class="container">

    <div class="row header">
      <h1 class="title">Oispa</h1>
      <div class="col search-wrap">
        <form novalidate @submit.stop.prevent="searchGiven">
        <input class="search" type="text" v-model="search">
        <button v-if="this.search.length > 2" class="find" type="submit">FIND</button>
        </form>
      </div>
    </div>
    <div class="row filters">
      <button class="filter" v-on:click="sortAlpha">
        <span v-if="!this.sortAsc">Z - A</span>
        <span v-if="this.sortAsc">A - Z</span>
      </button>
      <!-- <button class="filter" v-on:click="sortTime">
        <span v-if="this.oldTop">Old - New</span>
        <span v-if="!this.oldTop">New - Old</span>
      </button> -->
    </div>
    <div class="row">
      <Beer
      v-for="beer in beers"
      :key="beer.id"
      :id="beer.id"
      :img="beer.image_url"
      :name="beer.name"
      :tagline="beer.tagline"
      :by="beer.contributed_by"
      :since="beer.first_brewed"
      />
      <div class="col-lg-4 col-sm-6 portfolio-item" v-if="this.beers.length > 14">
        <button class="more" v-on:click="showMore">
          Showing <strong>{{beers.length}}</strong><br>
          Show more</button>
      </div>
      <div v-if="beers.length == 0" class="nada">Nada :(</div>
    </div>
  </div>
</div>
</template>
<script>
  import Beer from '@/components/Beer';
  import axios from 'axios';

  export default {
    components: {
      Beer
    },
    data() {
      return {
        search: '',
        beers: [],
        page: 1,
        sortAsc: true,
        oldTop: true
      }
    },
    created() {
      axios.get(`https://api.punkapi.com/v2/beers?page=${this.page}&per_page=15`)
      .then((response) => {
        this.beers = response.data;
      })
    },
    sortedList: {
      evenNumbers: function () {
        return this.numbers.filter(function (number) {
          return number % 2 === 0
        })
      }
    },
    methods: {
      searchGiven() {
        axios.get(`https://api.punkapi.com/v2/beers/?beer_name=${this.search}`)
        .then((response) => {
          this.beers = response.data;
        })
      },
      showMore() {
        this.page = this.page + 1;
        axios.get(`https://api.punkapi.com/v2/beers/?page=${this.page}&per_page=15`)
        .then((response) => {
          this.beers.push( ...response.data);
        })
      },
      sortAlpha() {
        let newOrder = this.beers;
        let ascDesc = this.sortAsc ? 1 : -1;
        newOrder.sort((a, b) => ascDesc * a.name.localeCompare(b.name));
        this.beers = newOrder;
        this.sortAsc = !this.sortAsc;
      }
      // TODO
      // sortTime() {
      //   let newOrder = this.beers;
      //   let newOld = this.oldTop ? 1 : -1;
      //   newOrder.sort((a, b) => {
      //     newOld * a.first_brewed.split('/').reverse().join('').localeCompare(b.first_brewed.split('/').reverse().join(''));
      //   });
      //   this.beers = newOrder;
      //   this.oldTop = !this.oldTop;
      // }
    }
  }
</script>

<style scoped>
.bg {
background: #f9f9f9 !important;
}
.container
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nada {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 300;
}
.header {
  display: flex;
  align-items: flex-end;
}
.search {
height: 100px;
border: 0;
outline: 0;
border-bottom: 2px solid #35495e;
width: 100%;
font-size: 50px;
line-height: 100px;
min-width: 300px;
padding: 0 15px;
margin-bottom: 0.5rem;
}
.title
{
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  padding: 0 15px;
}
.row {
  padding: 20px 0;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  margin: 0 10px;
  min-width: 100px;
  padding: 10px 20px;
}
button {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #35495e;
  color:#fff;
  outline: none;
  border: 0;
}
.sort {
  padding: 0 20px;
}
.find {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 80px;
  height: 80px;
  border: 0;
}
.more {
  min-height: 300px;
  width: 100%;
  height: 100%;
}
</style>

